# Add additional Airflow provider or library dependencies below.
#  If you list an extra provider without your own pin, then the pip install step
# in the Dockerfile will automatically ensure correct version is installed based
# on the Constraints file shipped with Airflow.
# Example:
# apache-airflow-providers-amazon
apache-airflow-providers-amazon
apache-airflow-providers-fab
apache-airflow-providers-postgres
apache-airflow-providers-snowflake

# Common drivers / SDKs
psycopg2-binary
snowflake-connector-python
boto3
